<%- include ("./partials/_header") %>



  <div class="container">
    <a href="/newPost"><button type="button" class="btn btn-primary">Create New Post</button></a>
  </div>

  <main role="main" class="container">

    <div class="row">
      <div class="col-md-8 blog-main">

        <% for( let i=0; i<allPosts.length; i++) { %>
          <div class="blog-post">
            <h2 class="blog-post-title">
              <%= allPosts[i].title %>
            </h2>
            <p class="blog-post-meta">
              <%= allPosts[i].post_date.toLocaleString('default', { month: 'long' , day: 'numeric' , year: 'numeric' })
                %> by <a href="#">
                  <%= allPosts[i].author %>
                </a>
            </p>
            <p>
              <%= allPosts[i].post_data %>
            </p>
            <a class="btn btn-danger" href="/delete/<%= allPosts[i]._id %>"> Delete </a>
            <a class="btn btn-info" href="/edit/<%= allPosts[i]._id %>"> Edit </a>
          </div>
          <% } %>

      </div>
    </div>



  </main>




  <%- include ("./partials/_footer") %>